.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: auto; */
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
            "header header header header"
            "main main ... sidebar"
            "footer footer footer footer";
    grid-auto-rows: 200px;
    gap: 10px 30px;
    /* justify-items: center;
    align-items: center; */
    border: 1px solid black;
}

.grid-item-1 {
    background-color: green;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / 3; */
    grid-column-start: 1;
    grid-column-end: span 2;
}

.grid-item-1 {
    grid-area: header;
    align-self: center;
}
/*
.grid-item-2 {
    grid-area: main;
}

.grid-item-3 {
    grid-area: sidebar;
}

.grid-item-4 {
    grid-area: footer;
} */

div[class^="grid-"] {
    border: 1px solid red;
}