body {
    background-color: grey;
}

.container-fluid {
    width: 90%;
}

.container {
    width: 80%;
    border: 1px solid black;
}

.aueb-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    color: antiquewhite;
}

.bg-primary {
    background-color: blue;;
}

.icon-small {
    width: 150px;
    height: auto;
}

.courses-wrapper {
    background-color: aquamarine;
}

.course-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: beige;
}

.bg-dark {
    background-color: black;
}