.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.cf-wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

.social {
    font-size: 2rem;
}

.fa-facebook {
    color: blue;
}