*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 120px;
    border: 1px solid black;
    background-color: rgb(143, 182, 206);
}

.aside {
    float: left;
    height: 150px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(178, 182, 118, 0.5);
}

.main {
    width: 400px;
    float: left;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(203, 148, 157, 0.5);
}

.footer {
    clear: both;
    height: 150px;
    border: 1px solid black;
    background-color: rgb(143, 143, 200);
}

