<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Application</title>
</head>
<body>
  <h1>Δημιουργία Χρήστη</h1>

  <form method="post" action="/user">
    Όνομα: <input type="text" name="firstname"><br>
    Επίθετο: <input type="text" name="lastname"><br>
    Email: <input type="email" name="email">
    <p>
      <input type="submit" value="Υποβολή">
    </p>
  </form>
</body>
</html>