<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Εμφάνιση Χρηστών</h1>

  <% users.forEach(function(user) { %>
    Onoma: <%= user.name %><br>
    Epitheto: <%= user.surname %><br>
    email: <%= user.mail %><br>
  <% }) %>

</body>
</html>